{% assign related_posts = site.posts | where_exp: "post", "post.url != page.url" %}
{% if related_posts.size > 0 %}
<div class="related">
  <h2>{{ site.data.settings.related_posts }}</h2>
  <ul class="related-posts">
    {% for post in related_posts limit:3 %}
      <li>
        <a href="{{ post.url | relative_url }}" class="related-post-link">
          {% if post.image %}
            <div class="related-thumbnail">
              <img src="{{ '/assets/img/' | append: post.image | relative_url }}" alt="{{ post.title }}">
            </div>
          {% endif %}
          <div class="related-info">
            <span class="related-title">{{ post.title }}</span>
            <span class="related-date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
